<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
      <publish>
        <processor type="ClearPeople.VarnishPurge.VarnishPurgeProcessor, ClearPeople.VarnishPurge" patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']"/>
      </publish>
		</pipelines>

		<settings>
      <!-- Enables ("true") or disables ("false") the module -->
      <setting name="Varnish.Enabled" value="true" />
      
      <!-- Actual Varnish server URL (Must start with "HTTP://"), proxy free -->
      <setting name="Varnish.Url" value="http://your_varnish_frontend_url" />
      
			<!-- Direct host to avoid proxies like CloudFlare. If not empty, WebRequest will go to "Varnish.Url", with a HOST HTTP Header with this value -->
      <setting name="Varnish.Direct.Host" value="your.proxyfree_varnish_domain.com" />
      
      <!-- Sitecore site. Used to get proper URLs from items -->
      <setting name="Varnish.Site" value="website" />

      <!-- HTTP Method used. Common values are "PURGE" or "DELETE", depending on your cache server implementation -->
      <setting name="Varnish.Method" value="PURGE" />
		</settings>
	</sitecore>
</configuration>